<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stateunion.eatshop">

    <application
        android:name=".application.ProjectApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleStyle">
        <activity android:name=".activity.loginactivity.LoginActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".view.baseactivity.TongJiActivity"></activity>
        <activity android:name=".view.baseactivity.DingCanActivity"></activity>
        <activity android:name=".view.baseactivity.OpinActivity"></activity>
        <activity android:name=".view.baseactivity.TuiDanShenHe"></activity>
        <activity android:name=".view.baseactivity.PingJIaActivity"></activity>
        <activity android:name=".view.baseactivity.HistoryActivity"></activity>
        <activity android:name=".view.baseactivity.QuCanActivity"></activity>
        <activity android:name=".view.baseactivity.ErWeiMaActivity"></activity>
    </application>

</manifest>